body {
	background: url("../images/Crystal-Caves-Background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
  }

.jumbotron {
	background: url("../images/Crystal-Caves-Background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#gameSection, #scoreSection {
	background: url("../images/Crystal-Caves-Background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#buttonSection {
	padding: 0px;
	padding-top: 50px;
	padding-bottom: 25px;
}

h1, h2, h3 {
	font-family: 'Orbitron', sans-serif;
	color: black;
	font-weight: bold;
}

p {
	font-family: 'Press Start 2P', cursive;
	color: black;
	font-weight: bold;
}

.numberBox {
	font-size: 100px;
	margin: 0px;
}

.icons {
	display: inline-block;
  	max-width: 100px;
  	max-height: 100px;
  	width: auto;
  	height: auto;
	margin:10px; 
}